[k3s_server]
${server_ip}

[k3s_agents]
%{ for ip in agent_ips ~}
${ip}
%{ endfor ~}

[k3s:children]
k3s_server
k3s_agents

[k3s:vars]
ansible_user=${admin_user}
ansible_ssh_private_key_file=~/.ssh/id_ed25519
ansible_python_interpreter=/usr/bin/python3
server_private_ip=${server_private_ip}
k3s_token=${k3s_token}
